:root
{
    --headerFooterColor:#d70926;
    --mainColor:#d70926;
    --mainColorSibl:#00c3d0;
    --backColor: #ffffff;
    --navbarbackground: #36454F;
    --navbarhover:#475660;
    --goldColor:rgba(255,215,0,1);
}

* 
{
    box-sizing: border-box;
    padding: 0em;
    margin: 0em;
}

body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backColor);
}

#wrapper 
{
    background-color: inherit;
}

.responsiveImg 
{
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
}

.responsiveImg img 
{
    width: inherit;
    height: inherit;
    display: block;
    margin: 0 auto;    
}

.ImgRoundBorder 
{
    border: 1px solid black;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.ImgRoundBorder  img
{
    width: inherit;
    height: inherit;
    display: block;
    margin: 0 auto;
    /*padding: 0.5em;*/
    border-radius: 50%;
}

.verticallyCentered
{
    width: 100%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}